.navbar82-wrapper {
  display: contents;
}
 
.navbar82-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar82-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar82-navlink1 {
  display: contents;
}
 
.navbar82-image1 {
  width: 204px;
  height: 112px;
  text-decoration: none;
}
 
.navbar82-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar82-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar82-link11 {
  text-decoration: none;
}
 
.navbar82-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar82-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar82-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar82-icon10 {
  width: 24px;
  height: 24px;
}
 
.navbar82-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar82-icon12 {
  width: 24px;
  height: 24px;
}
 
.navbar82-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar82-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar82-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar82-burger-menu {
  display: none;
}
 
.navbar82-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar82-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar82-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar82-navlink2 {
  display: contents;
}
 
.navbar82-logo {
  height: 3rem;
  text-decoration: none;
}
 
.navbar82-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar82-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar82-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar82-link12 {
  text-decoration: none;
}
 
.navbar82-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar82-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar82-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar82-icon18 {
  width: 24px;
  height: 24px;
}
 
.navbar82-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar82-icon20 {
  width: 24px;
  height: 24px;
}
 
.navbar82-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar82-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar82-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar82-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar82-page11 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar82-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar82-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar82-page21 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar82-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar82-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar82-page31 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar82-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar82-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar82-page41 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar82-action12 {
  text-decoration: none;
}
 
.navbar82-action22 {
  text-decoration: none;
}
 
.navbar82-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.navbar82-container7 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar82-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.navbar82-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar82-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar82-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-page12 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar82-page2-image2 {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url("public/img_0647-1400w.png");
}
 
.navbar82-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-page22 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar82-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar82-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-page32 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-menu-item8 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar82-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar82-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar82-page42 {
  font-style: normal;
  font-family: "Magistral-Medium";
  font-weight: 600;
}
 
.navbar82-container8 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-fragment21 {
  display: contents;
}
 
.navbar81-text23 {
  display: inline-block;
}
 
.navbar81-fragment10 {
  display: contents;
}
 
.navbar81-text10 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment19 {
  display: contents;
}
 
.navbar81-text21 {
  display: inline-block;
}
 
.navbar81-fragment11 {
  display: contents;
}
 
.navbar81-text11 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment20 {
  display: contents;
}
 
.navbar81-text22 {
  display: inline-block;
}
 
.navbar81-fragment18 {
  display: contents;
}
 
.navbar81-text20 {
  display: inline-block;
}
 
.navbar81-fragment13 {
  display: contents;
}
 
.navbar81-text15 {
  display: inline-block;
}
 
.navbar81-fragment14 {
  display: contents;
}
 
.navbar81-text16 {
  display: inline-block;
}
 
.navbar81-fragment16 {
  display: contents;
}
 
.navbar81-text18 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment12 {
  display: contents;
}
 
.navbar81-text12 {
  display: inline-block;
}
 
.navbar81-fragment15 {
  display: contents;
}
 
.navbar81-text17 {
  display: inline-block;
}
 
.navbar81-fragment17 {
  display: contents;
}
 
.navbar81-text19 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 767px) {
  .navbar82-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar82-desktop-menu {
    display: none;
  }
  .navbar82-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar82-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar82-container6 {
    grid-gap: 0;
  }
  .navbar82-link5-menu-list {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar82-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar82-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.navbar81-wrapper {
  display: contents;
}
 
.navbar81-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar81-container2 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-fragment10 {
  display: contents;
}
 
.navbar81-text10 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment11 {
  display: contents;
}
 
.navbar81-text11 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment12 {
  display: contents;
}
 
.navbar81-text12 {
  display: inline-block;
}
 
.navbar81-fragment13 {
  display: contents;
}
 
.navbar81-text15 {
  display: inline-block;
}
 
.navbar81-fragment14 {
  display: contents;
}
 
.navbar81-text16 {
  display: inline-block;
}
 
.navbar81-fragment15 {
  display: contents;
}
 
.navbar81-text17 {
  display: inline-block;
}
 
.navbar81-fragment16 {
  display: contents;
}
 
.navbar81-text18 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment17 {
  display: contents;
}
 
.navbar81-text19 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.navbar81-fragment18 {
  display: contents;
}
 
.navbar81-text20 {
  display: inline-block;
}
 
.navbar81-fragment19 {
  display: contents;
}
 
.navbar81-text21 {
  display: inline-block;
}
 
.navbar81-fragment20 {
  display: contents;
}
 
.navbar81-text22 {
  display: inline-block;
}
 
.navbar81-fragment21 {
  display: contents;
}
 
.navbar81-text23 {
  display: inline-block;
}
 
.navbar81root-class-name {
  background-color: var(--dl-color-theme-neutral-light);
}

.hero16-wrapper {
  display: contents;
}
 
.hero16-max-width {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.hero16-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  animation-name: fadeInLeft;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.hero16-content {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: 900px;
  display: flex;
}
 
.hero16-column-container1 {
  width: 50%;
}
 
.hero16-placeholder-image10 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image11 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image12 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image13 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image14 {
  width: 100%;
  height: 400px;
}
 
.hero16-column-container2 {
  width: 50%;
}
 
.hero16-placeholder-image15 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image16 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image17 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image18 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image19 {
  width: 100%;
  height: 400px;
}
 
.hero16-placeholder-image20 {
  width: 100%;
  height: 400px;
}
 
.hero16-container2 {
  display: contents;
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text11 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text10 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .hero16-max-width {
    flex-direction: column;
  }
  .hero16-column {
    width: 100%;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .hero16-content {
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .hero16-column {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .hero16-text1 {
    text-align: center;
  }
  .hero16-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .hero16-column {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .hero16-text1 {
    text-align: center;
  }
  .hero16-text2 {
    text-align: center;
  }
}

.contact-form51-wrapper {
  display: contents;
}
 
.contact-form51-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-section-title {
  gap: var(--dl-space-space-unit);
  align-items: center;
}
 
.contact-form51-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
 
.contact-form51-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text11 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input1 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-input2 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text12 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input2 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input3 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text13 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input3 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-input4 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text14 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input4 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-input5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text15 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-select {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text16 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-textarea {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
  text-transform: capitalize;
}
 
.contact-form51-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.contact-form51-text17 {
  text-transform: capitalize;
}
 
.contact-form51-button {
  align-self: flex-start;
  border-color: var(--dl-color-theme-primary2);
  border-width: 2px;
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text16 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text13 {
  display: inline-block;
}
 
.services-text14 {
  color: var(--dl-color-theme-primary2);
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .contact-form51-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input1 {
    width: 50%;
  }
  .contact-form51-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input3 {
    width: 50%;
  }
  .contact-form51-input4 {
    width: 50%;
  }
  .contact-form51-container3 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input5 {
    gap: var(--dl-space-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container4 {
    width: 100%;
  }
  .contact-form51-checkbox1 {
    align-self: flex-start;
  }
}
 
@media(max-width: 767px) {
  .contact-form51-textarea {
    flex: 1;
  }
}
 
@media(max-width: 479px) {
  .contact-form51-text10 {
    text-align: center;
  }
  .contact-form51-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form51-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input1 {
    width: 100%;
  }
  .contact-form51-input2 {
    width: 100%;
  }
  .contact-form51-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input3 {
    width: 100%;
  }
  .contact-form51-input4 {
    width: 100%;
  }
}

.features6-wrapper {
  display: contents;
}
 
.features6-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features6-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features6-section-title {
  align-items: flex-start;
}
 
.features6-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features6-list-item1 {
  align-items: flex-start;
}
 
.features6-list-item2 {
  align-items: flex-start;
}
 
.features6-actions {
  align-self: flex-start;
}
 
.features6-button1 {
  text-decoration: none;
}
 
.features6-button2 {
  text-decoration: none;
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text22 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text18 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text20 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text23 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text17 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text19 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text21 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .features6-layout216 {
    width: 100%;
  }
  .features6-max-width {
    flex-direction: column;
  }
  .features6-image1 {
    width: 100%;
  }
  .features6-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features6-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features6-list {
    flex-direction: column;
  }
  .features6-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features6-button1 {
    width: 100%;
  }
  .features6-button2 {
    width: 100%;
  }
}

.features61-wrapper {
  display: contents;
}
 
.features61-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features61-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features61-image1 {
  width: 720px;
}
 
.features61-content {
  width: 510px;
}
 
.features61-section-title {
  align-items: flex-start;
}
 
.features61-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features61-list-item {
  align-items: flex-start;
}
 
.features61-actions {
  align-self: flex-start;
}
 
.features61-button1 {
  text-decoration: none;
}
 
.features61-button2 {
  text-decoration: none;
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text30 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text27 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text26 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text29 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text25 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text28 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .features61-layout216 {
    width: 100%;
  }
  .features61-max-width {
    flex-direction: column;
  }
  .features61-image1 {
    width: 100%;
  }
  .features61-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features61-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features61-list {
    flex-direction: column;
  }
  .features61-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features61-button1 {
    width: 100%;
  }
  .features61-button2 {
    width: 100%;
  }
}

.features65-wrapper {
  display: contents;
}
 
.features65-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features65-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features65-image1 {
  width: 736px;
}
 
.features65-content {
  width: 622px;
}
 
.features65-section-title {
  align-items: flex-start;
}
 
.features65-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features65-list-item1 {
  align-items: flex-start;
}
 
.features65-list-item2 {
  align-items: flex-start;
}
 
.features65-actions {
  align-self: flex-start;
}
 
.features65-button1 {
  text-decoration: none;
}
 
.features65-button2 {
  text-decoration: none;
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text32 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text37 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text38 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text35 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text36 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text33 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text34 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .features65-layout216 {
    width: 100%;
  }
  .features65-max-width {
    flex-direction: column;
  }
  .features65-image1 {
    width: 100%;
  }
  .features65-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features65-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features65-list {
    flex-direction: column;
  }
  .features65-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features65-button1 {
    width: 100%;
  }
  .features65-button2 {
    width: 100%;
  }
}

.features63-wrapper {
  display: contents;
}
 
.features63-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features63-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features63-image1 {
  width: 726px;
}
 
.features63-content {
  width: 626px;
}
 
.features63-section-title {
  align-items: flex-start;
}
 
.features63-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features63-list-item1 {
  align-items: flex-start;
}
 
.features63-list-item2 {
  align-items: flex-start;
}
 
.features63-actions {
  align-self: flex-start;
}
 
.features63-button1 {
  text-decoration: none;
}
 
.features63-button2 {
  text-decoration: none;
}
 
.services-fragment38 {
  display: contents;
}
 
.services-text44 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment40 {
  display: contents;
}
 
.services-text46 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment39 {
  display: contents;
}
 
.services-text45 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment34 {
  display: contents;
}
 
.services-text40 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment35 {
  display: contents;
}
 
.services-text41 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment37 {
  display: contents;
}
 
.services-text43 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment36 {
  display: contents;
}
 
.services-text42 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .features63-layout216 {
    width: 100%;
  }
  .features63-max-width {
    flex-direction: column;
  }
  .features63-image1 {
    width: 100%;
  }
  .features63-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features63-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features63-list {
    flex-direction: column;
  }
  .features63-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features63-button1 {
    width: 100%;
  }
  .features63-button2 {
    width: 100%;
  }
}

.footer15-wrapper {
  display: contents;
}
 
.footer15-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
 
.footer15-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
 
.footer15-actions1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
 
.footer15-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.footer15-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer15-image1 {
  width: 285px;
  height: 178px;
  align-self: center;
}
 
.footer15-media {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.footer15-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer15-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer15-credits1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer15-credits2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.footer15-link11 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  text-decoration: none;
}
 
.footer15-link12 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  text-decoration: none;
}
 
.footer15-content3 {
  align-self: center;
}
 
.services-fragment42 {
  display: contents;
}
 
.services-text49 {
  display: inline-block;
}
 
.services-fragment41 {
  display: contents;
}
 
.services-text48 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
 
.services-fragment43 {
  display: contents;
}
 
.services-text50 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions1 {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits2 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-actions2 {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-image1 {
    width: 161px;
    height: 82px;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.services-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text10 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text11 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 35px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-color: var(--dl-color-theme-primary1);
  border-style: inset;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text13 {
  display: inline-block;
}
 
.services-text14 {
  color: var(--dl-color-theme-primary2);
  font-family: "Magistral-Medium";
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text16 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text17 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text18 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text19 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text20 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text21 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text22 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text23 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-text24 {
  width: 1039px;
  height: 175px;
  font-size: 20px;
  font-family: "Magistral-Medium";
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text25 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text26 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text27 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text28 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text29 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text30 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-text31 {
  width: 1039px;
  height: 175px;
  overflow: visible;
  font-size: 20px;
  font-family: "Magistral-Medium";
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text32 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text33 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text34 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text35 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text36 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text37 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text38 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-text39 {
  width: 1039px;
  height: 175px;
}
 
.services-fragment34 {
  display: contents;
}
 
.services-text40 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment35 {
  display: contents;
}
 
.services-text41 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment36 {
  display: contents;
}
 
.services-text42 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment37 {
  display: contents;
}
 
.services-text43 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment38 {
  display: contents;
}
 
.services-text44 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment39 {
  display: contents;
}
 
.services-text45 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-fragment40 {
  display: contents;
}
 
.services-text46 {
  display: inline-block;
  font-family: "Magistral-Medium";
}
 
.services-text47 {
  width: 1039px;
  height: 175px;
}
 
.services-fragment41 {
  display: contents;
}
 
.services-text48 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
 
.services-fragment42 {
  display: contents;
}
 
.services-text49 {
  display: inline-block;
}
 
.services-fragment43 {
  display: contents;
}
 
.services-text50 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .services-text24 {
    width: 588px;
  }
  .services-text31 {
    width: 588px;
  }
  .services-text39 {
    width: 588px;
  }
  .services-text47 {
    width: 588px;
  }
}
 
@media(max-width: 479px) {
  .services-text24 {
    width: 389px;
    overflow: scroll;
    font-size: 20px;
    font-family: Magistral-Medium;
  }
  .services-text31 {
    width: 389px;
    overflow: scroll;
  }
  .services-text39 {
    width: 389px;
  }
  .services-text47 {
    width: 389px;
  }
}
