.component-container {
  width: 433px;
  height: 798px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
 
.component-form {
  width: 155px;
  position: relative;
}
 
.component-text10 {
  font-size: 20px;
  font-family: "Magistral-Medium";
}
 
.component-textinput1 {
  border-color: var(--dl-color-theme-primary1);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.component-text11 {
  font-size: 20px;
  font-family: "Magistral-Medium";
}
 
.component-textinput2 {
  border-color: var(--dl-color-theme-primary1);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.component-textinput3 {
  border-color: var(--dl-color-theme-primary1);
}
 
.component-text13 {
  font-size: 20px;
  font-family: "Magistral-Medium";
  line-height: 2;
}
 
.component-textinput4 {
  border-color: var(--dl-color-theme-primary1);
}
 
.component-text14 {
  z-index: 1;
  font-size: 20px;
  font-family: "Magistral-Medium";
  line-height: 1.15;
}
 
.component-text15 {
  font-size: 20px;
  font-family: "Magistral-Medium";
  line-height: 1.3;
}
 
.component-text16 {
  font-size: 20px;
  font-family: "Magistral-Medium";
  line-height: 2;
}
 
.component-textinput5 {
  width: 300px;
  height: 75px;
  line-height: 3;
  border-color: var(--dl-color-theme-primary1);
}
 
.component-textinput6 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  font-size: 20px;
  text-align: center;
  font-family: "Magistral-Medium";
  border-color: var(--dl-color-theme-secondary1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: var(--dl-color-theme-primary1);
}
 
.component-fragment1 {
  display: contents;
}
 
.component-text17 {
  display: inline-block;
}
 
.component-fragment2 {
  display: contents;
}
 
.component-text18 {
  display: inline-block;
  font-size: 20px;
  font-family: "Magistral-Medium";
  line-height: 2;
}
 
.component-fragment3 {
  display: contents;
}
 
.component-text19 {
  display: inline-block;
  line-height: 2;
}
 
.component-fragment4 {
  display: contents;
}
 
.component-text20 {
  display: inline-block;
}
 
.component-fragment5 {
  display: contents;
}
 
.component-text21 {
  display: inline-block;
  line-height: 1.3;
}
 
.component-fragment6 {
  display: contents;
}
 
.component-text22 {
  display: inline-block;
}
 
.component-fragment7 {
  display: contents;
}
 
.component-text23 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .component-container {
    width: 479px;
    height: 820px;
    position: static;
    padding-left: 0px;
    padding-right: 0px;
  }
  .component-form {
    width: 281px;
    height: 752px;
    position: static;
  }
  .component-text10 {
    line-height: 2;
  }
  .component-text15 {
    font-size: 20px;
    font-family: Magistral-Medium;
    line-height: 1.5;
  }
  .component-text16 {
    font-size: 20px;
    font-family: Magistral-Medium;
  }
  .component-textinput5 {
    width: 285px;
  }
  .component-text20 {
    line-height: 1.15;
  }
  .component-text21 {
    line-height: 1.5;
  }
  .component-text22 {
    line-height: 1.15;
  }
}
