.contact-form51-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-section-title {
  gap: var(--dl-space-space-unit);
  align-items: center;
}
 
.contact-form51-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
 
.contact-form51-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text11 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input1 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-input2 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text12 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input2 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input3 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text13 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input3 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-input4 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text14 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-text-input4 {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-input5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text15 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-select {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
}
 
.contact-form51-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-text16 {
  font-family: "Magistral-Medium";
}
 
.contact-form51-textarea {
  border-color: var(--dl-color-theme-primary1);
  border-width: 2px;
  text-transform: capitalize;
}
 
.contact-form51-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.contact-form51-text17 {
  text-transform: capitalize;
}
 
.contact-form51-button {
  align-self: flex-start;
  border-color: var(--dl-color-theme-primary2);
  border-width: 2px;
}
 
.contact-form51-fragment1 {
  display: contents;
}
 
.contact-form51-text18 {
  display: inline-block;
}
 
.contact-form51-fragment2 {
  display: contents;
}
 
.contact-form51-text19 {
  display: inline-block;
}
 
.contact-form51-text20 {
  color: var(--dl-color-theme-primary2);
  font-family: "Magistral-Medium";
}
 
@media(max-width: 991px) {
  .contact-form51-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input1 {
    width: 50%;
  }
  .contact-form51-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input3 {
    width: 50%;
  }
  .contact-form51-input4 {
    width: 50%;
  }
  .contact-form51-container3 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input5 {
    gap: var(--dl-space-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container4 {
    width: 100%;
  }
  .contact-form51-checkbox1 {
    align-self: flex-start;
  }
}
 
@media(max-width: 767px) {
  .contact-form51-textarea {
    flex: 1;
  }
}
 
@media(max-width: 479px) {
  .contact-form51-text10 {
    text-align: center;
  }
  .contact-form51-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form51-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input1 {
    width: 100%;
  }
  .contact-form51-input2 {
    width: 100%;
  }
  .contact-form51-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input3 {
    width: 100%;
  }
  .contact-form51-input4 {
    width: 100%;
  }
}
