.features651-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features651-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features651-image1 {
  width: 736px;
}
 
.features651-content {
  width: 622px;
}
 
.features651-section-title {
  align-items: flex-start;
}
 
.features651-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features651-list-item1 {
  align-items: flex-start;
}
 
.features651-list-item2 {
  align-items: flex-start;
}
 
.features651-actions {
  align-self: flex-start;
}
 
.features651-button1 {
  text-decoration: none;
}
 
.features651-button2 {
  text-decoration: none;
}
 
.features651-fragment1 {
  display: contents;
}
 
.features651-text15 {
  display: inline-block;
}
 
.features651-fragment2 {
  display: contents;
}
 
.features651-text16 {
  display: inline-block;
}
 
.features651-fragment3 {
  display: contents;
}
 
.features651-text17 {
  display: inline-block;
}
 
.features651-fragment4 {
  display: contents;
}
 
.features651-text18 {
  display: inline-block;
}
 
.features651-fragment5 {
  display: contents;
}
 
.features651-text19 {
  display: inline-block;
}
 
.features651-fragment6 {
  display: contents;
}
 
.features651-text20 {
  display: inline-block;
}
 
.features651-fragment7 {
  display: contents;
}
 
.features651-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features651-layout216 {
    width: 100%;
  }
  .features651-max-width {
    flex-direction: column;
  }
  .features651-image1 {
    width: 100%;
  }
  .features651-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features651-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features651-list {
    flex-direction: column;
  }
  .features651-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features651-button1 {
    width: 100%;
  }
  .features651-button2 {
    width: 100%;
  }
}
